{% extends 'layout.html' %}

{% block title %}Basic Auth{% endblock %}

{% block header %}
    <i class="glyphicon glyphicon-console"></i> Hello, {{ session.data }}!
{% endblock %}

{% block lead %}
    You just logged in with basic auth.
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                This is page is protected by the <strong>BasicAuthShield</strong>. You didn't get a session and your credentials will be validated
                every time.
            </p>
        </div>
    </div>
{% endblock %}
